#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.imagem-wrapper{
  height: 100vh;
  background-color: rgb(33, 37, 41);
  padding: 0 !important;
}
img{
  height: 100%;
}
#sidebar{
  height: 100vh;
  overflow-y: scroll;
}
